---
layout: default
title: "Godaptive"
---

{% include components/banner.html %}
{% include components/nav.html %}

<section class="hero">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
        <h1 class="hero__title hero__title--home">Take your course creation to the <span class="underlined">next level</span> with AI-powered, adaptive, personalized courses.</h1>

        <div class="hero__buttons">
          <a href="#" class="button">Request early access</a>
          <a href="#" class="button button--tertiary">See features</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="benefits">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
        <h2 class="h2--marketing">Build adaptive courses for any subject.</h2>
      </div>
    </div>

    <div class="row panels">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="panel panel--green">
          <h3 class="panel__title"><span class="panel__stat">52%</span> Improved Learning Outcomes</h3>
          <p>Adaptive courses significantly <strong>improve knowledge retention, learning speed and user engagement</strong> compared to traditional courses — your users will thank you, and recommend you to their friends.</p>
          <img src="assets/images/brain.svg" alt="Illustration of a brain" />
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="panel panel--blue">
          <h3 class="panel__title"><span class="panel__stat">64%</span> Higher Revenue</h3>
          <p>Adaptive courses <strong>sell for an average of 64% more</strong> than traditional online courses. Godaptive will make your existing courses AI-powered and adaptive or help you create new ones.</p>
          <img src="assets/images/cash.svg" alt="Illustration of cash with an arrow through it" />
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3 class="callout">Customers are <span class="underlined underlined--small"><strong>3x more likely</strong></span> to choose AI-powered, adaptive courses over traditional courses.</h3>
      </div>
    </div>
  </div>
</section>

<section class="product-overview">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <img class="screenshot" src="assets/images/screenshot.png" />
      </div>
    </div>
  </div>
</section>

<section class="how-godaptive-works">
  <div class="container-fluid">
    <div class="row row--intro">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h2 class="h2--marketing">How Godaptive works</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultrices consectetur ex, ut fermentum risus rutrum et. Etiam eleifend semper ipsum ut bibendum. Sed rhoncus sapien sed dictum finibus. Cras ut dapibus purus, ac porttitor nisl. Nunc quam velit, elementum eget lacinia vitae.</p>
        <a class="button button--secondary">Check out our full list of features -></a>
      </div>
    </div>

    <div class="row row--feature">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="feature">
          <img src="assets/images/feature-illustrations/create.png" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 offset-lg-1 col-lg-5">
        <div class="feature--title">
          <img src="assets/images/create.svg" class="icon" />
          <h3 class="h3--marketing">Create</h3>
        </div>
        <p>We give you all the authoring tools you need to create adaptive courses. Upload videos, articles, questions and let the algorithm personalize your users’ learning journey.</p>
      </div>
    </div>

    <div class="row row--feature">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
        <div class="feature--title">
          <img src="assets/images/sell.svg" class="icon" />
          <h3 class="h3--marketing">Sell</h3>
        </div>
        <p>Our storefronts are customizable to your business and look great on all screen sizes. Fully integrated with Stripe, you could be making money in a few clicks.</p>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-6 offset-lg-1 col-lg-6">
        <div class="feature feature--right">
          <img src="assets/images/feature-illustrations/sell.png" />
        </div>
      </div>
    </div>

    <div class="row row--feature">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="feature">
          <img src="assets/images/feature-illustrations/analyze.png" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 offset-lg-1 col-lg-5">
        <div class="feature--title">
          <img src="assets/images/analyze.svg" class="icon" />
          <h3 class="h3--marketing">Analyze</h3>
        </div>
        <p>Our course reporting tools allow you to track how your users are doing and see insights on questions or resources that may or may not be working well.</p>
      </div>
    </div>
  </div>
</section>

<section class="algorithms">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
        <h2 class="h2--marketing">Our algorithms</h2>
        <p>We use two algorithms to make our courses adaptive and personalized to each student.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
        <img src="assets/images/mastery.svg" class="icon" />
        <h3 class="h3--marketing">Mastery and recommendations</h3>
        <p>Our mastery and recommendation algorithm uses Bayesian Knowledge Tracing to calculate a student’s mastery level for a skill and to present relevant resources and questions.</p>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
        <img src="assets/images/difficulty.svg" class="icon" />
        <h3 class="h3--marketing">Question difficulty <br>calibration</h3>
        <p>Our question difficulty algorithm dynamically adjusts a questions difficulty based on a baseline entered by the course creator and user responses as they work through the course.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <a href="#" class="button button--transparent">Read more about our algorithms -></a>
      </div>
    </div>
  </div>
</section>

{% include components/get-started.html %}
