<header class="container-fluid">
  <div class="row">
    <div class="col-12 nav">
      <a class="nav__logo" href="/">
        <img src="assets/images/logo.svg" />
      </a>

      <ul class="nav__links">
        <li class="nav__link"><a href="#">Features</a></li>
        <li class="nav__link"><a href="#">Pricing</a></li>
        <li class="nav__link"><a href="#">About</a></li>
        <li class="nav__link"><a href="#">Blog</a></li>
        <li class="nav__link nav__link--highlight"><a href="#">Request early access</a></li>
      </ul>
    </div>
  </div>
</header>


