.hero {
  position: relative;
  padding: 100px 0 390px 0;
  @include gradient--vertical;

  &::after {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 120px;
    width: 100%;
    background-image: url('assets/images/cutout.png');
    background-size: 100% 120px;
    background-repeat: no-repeat;
  }
}

.hero__title {
  margin-bottom: 60px;
  position: relative;
}

.hero__buttons {
  display: flex;
  margin-bottom: 168px;
  position: relative;

  .button {
    margin-right: 16px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &::before {
    content: ' ';
    width: 50px;
    height: 254px;
    background-image: url('assets/images/arrow.svg');
    position: absolute;
    left: -66px;
    top: 20px;
  }
}

.hero__title--home {
  &::after {
    font-family: 'Caveat', cursive;
    font-size: 40px;
    line-height: auto;
    font-weight: 400;
    letter-spacing: 0;
    position: absolute;
    right: -90px;
    bottom: -60px;
    content: '^ without worrying about algorithms!';
    color: $brand-primary;
    transform: rotate(-3deg)
  }
}

.hero__title--blog {
  margin-bottom: 24px;
}
